@charset "utf-8";

h2 {
	margin-top: 1em !important;
}

h3 {
	margin-top: 0.7em !important;
}

li {
	margin: 0.5em 0 !important;
}

body {
	background: #efefef;
}

#container {
	width: 900px;
	position: relative;
	margin: 0 auto;
	padding: 10px 30px;
	overflow: hidden;
}

nav {
	float: left;
	width: 199px;
	margin: 40px 0 0;
	background: #fff;
	padding: 0;
	position: fixed;
	border: 1px solid #DDDDDD;
	border-radius: 7px 0 0 7px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
nav li {
	margin: 0 0 !important;
}
nav>ul>li:first-child>a {
	padding-top: 7px;
	border-radius: 7px 0 0 0;
}
nav>ul>li:last-child a:last-child {
	padding-bottom: 7px;
}
nav>ul>li:last-child>a:last-child {
	border-radius: 0 0 0 7px;
}
nav li ul {
	margin-left: 11px;
	border-left: 1px dotted #ccc;
}
nav li a {
	display: block;
	padding: 4px 5px 4px 7px;
}

nav li a:hover {
	text-decoration: none;
	background: #A9AFC8;
	color: #fff;
}
nav li.active>a {
	background: #32407D;
	color: #fff;
}
nav li.active>a:before {
	content: '►';
	float: right;
}
#wiki {
	margin-left: 200px;
	background: #fff;
	min-height: 400px;
	padding-bottom: 40px;
}

#toolbar {
	position: absolute;
	right:0;
	top:0;
	padding: 10px;
}
#toolbar>* {
	float: left;
}
#toolbar>* + * {
	border-left: 1px solid #ddd;
	padding-left: 7px;
	margin-left: 7px;
}


.dateModified {
	font-size: 0.8em;
}


a[href^="http://"]:after {
	content: "\2192";
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	color: #999;
}